
.balance-container {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
}

.balance-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.balance-container form {
  display: flex;
  flex-direction: column;
}

.balance-container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.balancec-container input[type="text"],
.balance-container input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
 
}

.balance-container button {
  background-color: #06908F;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.balance-container button:hover {
 opacity: 0.8;
}
.balance-container button:active {
  opacity: 0.8;
 }

.balance-container p {
  margin-top: 10px;
  font-weight: bold;
  color: #ff0000;
}
