.button-style {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  font-weight: bold;
  color: #069087;
  border:none;
  margin-right: 5px;
}

.button-style:hover {
  background-color:#FCCB06;
  color: #171A21;
}
